<!DOCTYPE html>
<head>
    <title>Create new posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form method="post" action="/posts">
        <input placeholder="enter username" name="username">
        <br>
        <br>
        <textarea placeholder="write your content" name="content"></textarea>
        <br>
        <button>submit</button>
    </form>
</body>
</html>